<div class="row">
  <div class="col-md-4">
    <%= link_to t('root'), resources_root_url(url: @resource.api_root_url) %>
  </div>
  <div class="col-md-8">
    <%= render "shared/properties" %>
  </div>
</div>
