<div class="row">
  <div class="col-md-4">
    <ul>
      <li><%= link_to @resource.memory_link.rel, resources_memory_path(url: @resource.memory_link.url) %></li>
      <li><%= link_to @resource.system_link.rel, resources_system_path(url: @resource.system_link.url) %></li>
      <li><%= link_to @resource.processes_link.rel, resources_processes_path(url: @resource.processes_link.url) %></li>
      <li><%= link_to @resource.modules_link.rel, resources_modules_path(url: @resource.modules_link.url) %></li>
    </ul>
  </div>
  <div class="col-md-8">No properties</div>
</div>
